.Container{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1c1c;
    overflow: hidden;
}


.formBox{
    box-shadow: 0px 0px 15px -5px;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}